<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/styles.css">
    <!-- Vie.js module -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js">
    </script>
    <title id="title" v-text="title"></title>
</head>

<body>
    <div id="report">
        <header>
            <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: rgb(227, 242, 253);"><a
                    href="https://github.com/KarneyenkaDzmitry/cucumber-json-reporter-to-html"
                    class="navbar-brand">KoDA</a>
                <button type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
                <div id="navbarCollapse" class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"><a href="#" class="nav-link">Home <span
                                    class="sr-only">(current)</span></a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Link</a></li>
                        <li class="nav-item"><a href="#" class="nav-link disabled">Disabled</a></li>
                        <li class="nav-item dropdown">
                            <a href="#" id="dropdown06" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" class="nav-link dropdown-toggle">Features</a>
                            <div aria-labelledby="dropdown06" class="dropdown-menu">
                                <a href="#" class="dropdown-item">Failed</a>
                                <a href="#" class="dropdown-item">Passed</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">All</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline mt-2 mt-md-0"><input type="text" placeholder="Search" aria-label="Search"
                            class="form-control mr-sm-2"> <button type="submit"
                            class="btn btn-outline-success my-2 my-sm-0">Search</button></form>
                </div>
            </nav>
        </header>
        <main>
            <div class="body-results-wrapper">
                <div class="container" style="text-align: center;">Tests based on: cucumber with protractor approach
                </div>
                <div class="content">
                    <features></features>
                </div>
            </div>
        </main>
        <footer style="position: fixed; bottom: 15px; height: 75px; width: 100%;">
            <div> &nbsp;<br> &nbsp; </div>
            <div class="my-flex-container" style="display: flex; justify-content: space-between;">
                <div id="date">1549966630858</div>
                <div class="my-flex-block"><a href="https://github.com/KarneyenkaDzmitry/cucumber-json-reporter-to-html"
                        target="_blank" class="footer-link">
                        generated by @cucumber-json-reporter-to-html</a></div>
            </div>
        </footer>
    </div>
    <script type="text/x-template" id="templ">
            <h1 v-if="level===1">
                <slot></slot>
            </h1>
            <h2 v-if="level===2">
                    <slot></slot>
                </h2>
        </script>
    <script src="./js/reporter.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>


</body>

</html>